.subt {
  display: flex;
  justify-content: center;
  font-family: "Abel", sans-serif;
  margin: 1rem;
  background-color: #dfd7bf;
}
.principal {
  display: flex;
  flex-direction: column;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 8%;
}
.skeleton {
  margin: 2rem;
}
@media (max-width: 425px) {
  .itemList {
    justify-content: center;
  }
}
