button {
  margin: 2rem;
}
.aComprar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.img {
  height: 18rem;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 2px solid black;
  height: 20rem;
  width: 50rem;
}
.carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subt {
  font-family: "Abel", sans-serif;
  background-color: red;
  display: flex;
  justify-content: start;
}
@media (max-width: 425px) {
  .aComprar {
    flex-direction: column;
    margin: 1rem;
  }
  .cart {
    flex-direction: column;
    margin: 1rem;
    height: 10rem;
    width: 3rem;
  }
}
