button {
  margin: 2rem;
}
.aComprar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.img {
  height: 18rem;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 2px solid black;
  height: 20rem;
  width: 50rem;
}
.carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtit {
  font-family: "Abel", sans-serif;
  background-color: #dfd7bf;
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 1rem;
}
@media (max-width: 425px) {
  .aComprar {
    flex-direction: column;
  }
  .img {
    height: 10rem;
  }
  .subtit {
    width: 96%;
  }
  .cart {
    height: 20rem;
    width: 30rem;
  }
}
@media (max-width: 375px) {
  .subtit {
    width: 94%;
  }
}
